<!-- Button trigger modal -->
<%#= image_tag load_login_image, id:'bg_image', class:'ad_opacity' %>
<%= image_tag load_login_image, { id: 'full-screen-background-image', class:'ad_opacity' } %>

<div class="container">
  <center>
    <br>
    <button class="btn btn-danger btn-lg mrgin" href="#signup" data-toggle="modal" data-target=".bs-modal-sm">
      <%= t('login.lets_play') %> <span class="glyphicon glyphicon-forward"></span>
    </button>
  </center>
  <br/>
</div>

<!-- Modal -->
<div class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content bg-dark">
      <br>
      <div class="bs-example bs-example-tabs">
        <ul id="myTab" class="nav nav-tabs margin-left-5">
          <li class="active"><a href="#signin" data-toggle="tab"><%= t('login.sign_in') %></a></li>
          <li class=""><a href="#signup" data-toggle="tab"><%= t('login.register') %></a></li>
<!--           <li class=""><a href="#why" data-toggle="tab"><%#= t('login.why') %></a></li> -->
        </ul>
      </div>
      <div class="modal-body bg-dark">
        <div id="myTabContent" class="tab-content">
          <!-- <div class="tab-pane fade in" id="why">
            <p><%#= t('login.instructions') %></p>
            <p>
              <%#= t('login.contact') %> <a mailto:href="abhivannarath006@gmail.com"><%#= t('login.name') %></a> <%#= t('login.other_enquiry') %>
            </p>
          </div> -->
          <div class="tab-pane fade active in" id="signin">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), class:'form-horizontal') do |f| %>
              <%= devise_error_messages! %>
              <fieldset>
                <!-- Sign In Form -->
                <!-- Text input-->
                <!-- <hr class="colorgraph"> -->
                <div class="control-group">
                  <!-- <label class="control-label" for="userid"><%#= t('login.email') %></label> -->
                  <div class="controls">
                   <%= f.email_field :email, autofocus: true, required: true, placeholder: t('login.email'), class:"form-control" %>
                  </div>
                </div><br/>

                <!-- Password input-->
                <div class="control-group">
                  <!-- <label class="control-label" for="passwordinput"><%#= t('login.password') %></label> -->
                  <div class="controls">
                    <%= f.password_field :password, autocomplete: "current-password", required: true, placeholder: t('login.password'), class:"form-control" %>
                  </div>
                </div>

                  <!-- Multiple Checkboxes (inline) -->
                <div class="control-group">
                  <div class="controls">
                    <% if devise_mapping.rememberable? -%>
                      <div class="pull-left">
                        <%= f.check_box :remember_me %> <%= f.label :remember_me, class:"control-label white_text" %>
                      </div>
                    <% end -%>
                  </div>
                  <div class="controls">
                    <div class="frog-pswd pull-right">
                      <%= link_to t('login.forgot_password'), new_password_path(resource_name), class:"control-label white_text" %>
                    </div>
                  </div>
                </div><br/>

                <!-- Button -->
                <div class="control-group">
                  <label class="control-label" for="signin"></label>
                  <div class="controls text-center">
                    <%= f.submit t('login.sign_in'), class:"btn btn-success btn-block" %>
                  </div>
                </div>
              </fieldset>
            <% end -%>
          </div>

          <div class="tab-pane fade" id="signup">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class:'form-horizontal') do |f| %>
              <%= devise_error_messages! %>
              <fieldset>
                <!-- Sign Up Form -->
                <!-- Text input-->
                <!-- <hr class="colorgraph"> -->
                <div class="control-group">
                  <!-- <label class="control-label" for="Email"><%#= t('login.email') %></label> -->
                  <div class="controls">
                     <%= f.email_field :email, autofocus: true, placeholder: t('login.email'), class:'form-control' %>
                  </div>
                </div><br/>

                <!-- Text input-->
                <div class="control-group">
                  <!-- <label class="control-label" for="userid"><%#= t('login.first_name') %></label> -->
                  <div class="controls">
                    <%= f.text_field :first_name, required:true, placeholder: t('login.first_name'), class:'form-control' %>
                  </div>
                </div><br/>

                <div class="control-group">
                  <!-- <label class="control-label" for="userid"><%#= t('login.middle_name') %></label> -->
                  <div class="controls">
                    <%= f.text_field :middle_name, class:'form-control', placeholder: t('login.middle_name')  %>
                  </div>
                </div><br/>

                <div class="control-group">
                  <!-- <label class="control-label" for="userid"><%#= t('login.last_name') %></label> -->
                  <div class="controls">
                    <%= f.text_field :last_name, required:true, class:'form-control', placeholder: t('login.last_name') %>
                  </div>
                </div><br/>

                <!-- Password input-->
                <div class="control-group">
                  <!-- <label class="control-label" for="password"><%#= t('login.password') %></label> -->
                  <div class="controls">
                    <% if @validatable %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %>
                    <%= f.password_field :password, autocomplete: "off", class:'form-control',
                                          placeholder: t('login.password') %>
                  </div>
                </div><br/>

                <!-- Text input-->
                <div class="control-group">
                  <!-- <label class="control-label" for="reenterpassword"><%#= t('login.re_enter_password') %></label> -->
                  <div class="controls">
                    <%= f.password_field :password_confirmation, autocomplete: "off", class:'form-control',
                                          placeholder: t('login.re_enter_password') %>
                  </div>
                </div>

                <!-- Button -->
                <div class="control-group">
                  <label class="control-label" for="confirmsignup"></label>
                  <div class="controls text-center">
                   <%= f.submit t('login.sign_up'), class:'btn btn-success btn-block' %>
                  </div>
                </div>
              </fieldset>
            <% end -%>
          </div>
        </div>
      </div>
      <div class="modal-footer padding-10 bg-dark">
        <button type="button" class="btn btn-default btn-xs btn-danger" data-dismiss="modal"><%= t('close') %></button>
      </div>
    </div>
  </div>
</div>

<div style="height: 600px;"></div>

<div style="clear: both;"></div>

<%= render 'ipl2020_matches' %>

<div style="clear: both;"></div>

<%= render 'ipl2020_squads' %>

<div style="clear: both;"></div>

<%= render 'how_to_play' %>

<div style="clear: both;"></div>