<% @match_questions.each_with_index do |match_question, index| %>
  <% next if match_question.blank? %>

  <div class="row">
    <!-- <div class="col-sm-1">
      <label class="prediction-results control-label"><%#=  index + 1 %></label>
    </div> -->
    <div class="col-sm-6">
      <div class="controls">
        <%= select_tag "match_question[#{match_question.id}][question_id]",
                    options_from_collection_for_select(@questions, 'id', 'question', match_question.question_id),
                    id: 'select_prediction_match', class: 'form-control' %>

      </div>
    </div>
  </div>
  <br/>
  <% options = match_question.options[:v] %>
  <% options = options.nil? ? [] : options %>

  <div class="row">
    <div class="col-sm-2">
      <%= text_field_tag "match_question[#{match_question.id}][option1]", options[0],
                          class: 'form-control text-danger-mandatory' %>
    </div>
    <div class="col-sm-2">
      <%= text_field_tag "match_question[#{match_question.id}][option2]", options[1],
                          class: 'form-control text-danger-mandatory' %>
    </div>
    <div class="col-sm-2">
      <%= text_field_tag "match_question[#{match_question.id}][option3]", options[2],
                          class: 'form-control text-danger-mandatory' %>
    </div>

    <%# if index > 1 %>
    <div class="col-sm-2">
      <%= text_field_tag "match_question[#{match_question.id}][option4]", options[3],
                        class: 'form-control text-danger-mandatory' %>
    </div>

    <div class="col-sm-2">
      <%= text_field_tag "match_question[#{match_question.id}][option5]", options[4],
                        class: 'form-control text-danger-mandatory' %>
    </div>

    <div class="col-sm-2">
      <%= text_field_tag "match_question[#{match_question.id}][option6]", options[5],
                        class: 'form-control text-danger-mandatory' %>
    </div>

    <div class="col-sm-2">
      <%= text_field_tag "match_question[#{match_question.id}][option7]", options[6],
                        class: 'form-control text-danger-mandatory' %>
    </div>

    <div class="col-sm-2">
      <%= text_field_tag "match_question[#{match_question.id}][option8]", options[7],
                        class: 'form-control text-danger-mandatory' %>
    </div>

    <div class="col-sm-2">
      <%= text_field_tag "match_question[#{match_question.id}][option9]", options[8],
                        class: 'form-control text-danger-mandatory' %>
    </div>

    <div class="col-sm-2">
      <%= text_field_tag "match_question[#{match_question.id}][option10]", options[9],
                        class: 'form-control text-danger-mandatory' %>
    </div>
    <%# end %>
  </div>
  <br/>
<% end %>
