<%= image_tag load_bg_image, { id:'full-screen-background-image' } %>
<div class="page-header ind-body match-result text-center">
  <h4 class="prediction-results">
    <%=t '.title', default: 'Forgot your password?' %>
  </h4>
</div>
<div class="margin center-block">
  <div class="tab-pane col-md-offset-2 col-md-4">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
      <fieldset>

        <div class="control-group">
          <label class="prediction-results control-label" for="Email">Email:</label>
          <div class="controls">
            <%= f.email_field :email, autofocus: true, required: true, placeholder:'Email', class:'form-control' %>
          </div>
        </div>

        <!-- Button -->
        <div class="control-group">
          <label class="control-label" for="confirmsignup"></label>
          <div class="controls">
            <%= f.submit "Send me reset password instructions", class:'btn btn-success' %>
            <span>
              <%= render "devise/shared/links" %>
            </span>
          </div>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>

