<% challenges.each_with_index do |challenge, chlng_index| %>
  <div class = 'add_padding'>
    <% challenge_title = name == 'current' ? 'All Predictions' : 'Points' %>
    <%= link_to challenge.name, challenge_path(challenge, name), class:'btn btn-success',
                title: "Click Here to see #{challenge_title}", data: { no_turbolink: true } %>
    <% if name == 'current' %>
      <span class = 'btn btn-danger countdown' id='<%="count_down_#{challenge.id}"%>'></span>
      <script type="text/javascript">
        var challenge_date = '<%= challenge.end_time.to_s(:count_down)%>'
        $('#<%="count_down_#{challenge.id}"%>').countdown(challenge_date, function(event) {
          $(this).html(event.strftime('%d Days %HH:%MM:%SS'));
        });
      </script>
    <% end -%>
  </div>
  <div class="container">
    <div class="row">
      <% challenge.matches.each_with_index do |match, match_index| %>
        <a href=<%="#new_modal_#{challenge.id}_#{match.id}"%> id =<%="#{challenge.id}_#{match.id}"%>  class = "modal_link" data-toggle="modal">
          <div class="col-md-3">
            <center>
              <p class="match-full-name"><%= match.full_name %></p>
            </center>
            <div class="thumbnail">
              <div class="caption">
                <h5><%= match.match_date.to_s(:default_with_time) %></h5>
                <p class='btn-warning btn-sm team-font'><%= match.team1.name.upcase %></p>
                <p><%= image_tag('vs.png', size: '40x40') %></p>
                <p class = 'btn-success btn-sm team-font'><%= match.team2_name.upcase %></p>
                <p><%= match.stadium_name %></p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
              </div>
              <%= image_tag("icons/#{load_icon}", size: '400x300')%>
            </div>
          </div>
        </a>
        <div class="modal fade" id=<%= "modal_#{challenge.id}_#{match.id}" %> tabindex="-1" role="dialog">
          <%= render form_name, match: match, challenge: challenge, match_index: match_index %>
        </div>
      <% end -%>
    </div>
  </div>
  <hr />
<% end -%>

