<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Question </h4>
    </div>
    <div class="modal-body">
    <%= form_for :match_question, url:predict_match_tournaments_path, remote:true do |f| %>
      <%= hidden_field_tag :challenge_id, challenge.id %>
      <%= hidden_field_tag :match_id, match.id %>
      <% match.match_questions.each do |match_question|%>
        <div class = 'list-group'>
          <div class = 'list-group-item'>
            <h4 class="list-group-item-heading"><%=match_question.question.question %> ?</h4>
            <% options = match_question.options[:v]%>
            <% if options.blank?%>
            <%# option_collection %>
             <p class="list-group-item-text">  <%= f.select "#{match_question.id}", options_for_select(option_collection(match)) %></p>
            <%else%>
              <ul class="list-inline">
                <% options.each do |opt| %>
                  <li><label><%=opt%></label>
                   <%= f.radio_button "#{match_question.id}", "#{opt}", html:{class:'padding-4'} %></li> 
                <% end -%>
              </ul>
            <% end -%>
          </div>
        </div>
      <% end -%>
    <div class="actions">
      <%= f.submit 'Submit', class: 'btn btn-primary', id:'challenge_form'%>
    </div>
    <% end -%>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
