<% @previous_challenges.each_with_index do |challenge, chlng_index| %>
  <section> <%= link_to challenge.name, points_table_challenge_path(challenge) %></section>
  <div class="container">
    <div class="row">    
      <% challenge.matches.each_with_index do |match, match_index| %>
        <a href='<%="#new_modal_#{challenge.id}_#{match.id}"%>' id =<%="#{challenge.id}_#{match.id}"%>  class = "modal_link" data-toggle="modal">
          <div class="col-md-3">            
            <center>
           <p><%=match.team1.short_name%> VS <%= match.team2.short_name%> </p>
            </center>
            <div class="thumbnail">
              <div class="caption">
                <h4><%= match.match_no%></h4>
                <p><%= match.team1.name%></p>
                <p><%= image_tag('vs.png')%></p>
                <p><%= match.team2.name%></p>
              </div>
              <%= image_tag("#{load_icon}")%>
            </div>
          </div>
        </a>
        <div class="modal fade" id=<%="modal_#{challenge.id}_#{match.id}"%> tabindex="-1" role="dialog">
          <%= render partial:'prev_challenge_form', locals:{ match: match, challenge:challenge } %>
        </div>
      <% end -%>
    </div>
  </div>
  <hr>
<% end -%>
