<%= hidden_field_tag :challenge_id, challenge&.id %>
<%= hidden_field_tag :match_id, match&.id %>
<!-- <h5 class="list-group-item-heading">NB: Goals Scored = Goals from F.T + E.T + Penalty + Sudden Death</h5> -->
<% match.match_questions.order(:id).each_with_index do |match_question, index|%>
  <div class = 'list-group'>
    <div class = 'list-group-item border-radius-10'>
      <h5 class="list-group-item-heading"><%= match_question.question_name_with_points(index) %></h5>
      <% options = match_question.options[:v] %>
      <% prediction = current_user.prediction_for_match_question(challenge, match_question) %>
      <% all_options = options_hash(page_from, match_question, prediction) %>
      <% if options.blank? %>
        <p class="list-group-item-text">
          <% if page_from == 'edit_prediction_for_user' %>
              <%= select_tag "match_question[#{match_question.id}]",
                                grouped_options_for_select(option_collection(match),
                                current_user.selected_value(all_options)),
                                { prompt: 'Select Player', class: 'multi-select-players' } %>
          <% else %>
            <%= f.select "#{match_question.id}", grouped_options_for_select(option_collection(match),
                                                 current_user.selected_value(all_options)),
                                                 { prompt: 'Select Player' },
                                                 class: 'multi-select-players' %>
          <% end %>
        </p>
      <% else %>
        <ul class="list-inline" style="margin-bottom: 0">
          <% options.each do |opt| %>
            <li>
              <label style="font-size: 12px;">
                <%= radio_button_tag "match_question[#{match_question.id}]", "#{opt}",
                                      current_user.checked_value(opt, all_options),
                                      class: 'padding-4' %>
                <%= opt %>
              </label>
            </li>
          <% end -%>
        </ul>
      <% end -%>
    </div>
  </div>
<% end -%>
<script type="text/javascript">
  $('.multi-select-players').multiselect({
    enableCaseInsensitiveFiltering: true,
    nonSelectedText: 'Select Player',
    numberDisplayed: 1,
    buttonWidth: '350px',
    maxHeight: 300
  });
</script>
