<%= image_tag(load_challenge_image, { id: 'full-screen-background-image', class:'blur-me' }) %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4 class='heading'><%= t('tournament.choose_challenges').upcase %></h4>
      <div class="panel_custom with-nav-tabs panel-default add_opacity">
        <div class="panel-heading black_color">
          <ul class="nav nav-pills ">
            <li class="active">
              <a href="#tab_default_1" data-toggle="tab" class = 'fnt_weight'>
              <%= t('tournament.current_challenges') %></a>
            </li>
            <li>
              <a href="#tab_default_2" data-toggle="tab" class = 'fnt_weight'>
              <%= t('tournament.prev_challenges') %></a>
            </li>
          </ul>
        </div>
          <div class="tab-content">
            <div class="tab-pane active" id="tab_default_1">
              <%= render 'challenges', challenges: @current_challenges, form_name: 'modal_form', name: 'current' %>
              <div class="clearfix"></div>
              <%= paginate @current_challenges %>
            </div>
            <div class="tab-pane" id="tab_default_2">
              <%= paginate @previous_challenges %>
              <div class="clearfix"></div>
              <%= render 'challenges', challenges: @previous_challenges, form_name: 'prev_challenge_form', name: 'previous' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>


<script type="text/javascript">
$('.modal_link').click(function (e) {
  e.preventDefault();
  $('#modal_' + this.id).modal({ backdrop: false });
});
</script>
