<%= image_tag load_bg_image, { id:'full-screen-background-image' } %>
<div class="page-header ind-body match-result text-center">
  <h4 class="prediction-results">
    <%=t '.title', default: 'Forgot Login Credential ??' %>
  </h4>
</div>

<div class="margin center-block">
  <div class="tab-pane col-md-offset-2 col-md-4">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <fieldset>

        <div class="control-group">
          <label class="prediction-results control-label" for="Email">Email:</label>
          <div class="controls">
            <%= f.email_field :email, autofocus: true, class:'form-control input-sm chat-input', placeholder:'Email' %>
          </div>
        </div>

        <div class="control-group">
          <label class="prediction-results control-label" for="Password">Password:</label>
          <div class="controls">
            <%= f.password_field :password, autocomplete: "off", class:'form-control input-sm chat-input', placeholder:'password' %>
          </div>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="control-group">
            <label class="prediction-results control-label" for="remember_me">
              Remember Me: <%= f.check_box :remember_me %>
            </label>
          </div>
        <% end %>

        <div class="control-group">
          <label class="control-label" for="confirmsignup"></label>
          <div class="actions">
            <%= f.submit "Sign in", class:'btn btn-success' %>
            <span>
              <%= render "devise/shared/links" %>
            </span>
          </div>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
