<%- model_class = Prediction -%>
<%= image_tag('background/background2.jpeg', { id: 'full-screen-background-image', size: '1366x768' }) %>
<div class="page-header ind-body match-result text-center">
  <h4 class="prediction-results">
    <%=t '.title', default: "Winners List" %>
  </h4>
</div>
<div class = "ind-body data-table">
<table class="table table-striped table-bordered text-center" id="challenge_payment_table">
  <thead>
    <tr class="background-white">
      <th class="text-center btn-success no-sort" data-orderable="false">Sl No</th>
      <th class="text-center btn-success">Date</th>
      <th class="text-center btn-success">Challenge</th>
      <th class="text-center btn-success">Total Prize Amount</th>
      <th class="text-center btn-success">Winner</th>
      <th class="text-center btn-success">Winner Prize Amount</th>
      <th class="text-center btn-success">Account Balance</th>
    </tr>
  </thead>
  <tbody>
    <% total_balance = 0 %>
  	<% @challenge_payments.each_with_index do |payment, index| %>
  	  <% index += 1 %>
      <tr class="background-white">
      	<td class="text-center no-sort" data-orderable="false"><%= index %></td>
      	<td class="text-left"><%= payment.challenge.end_time.to_s(:default) rescue '-' %></td>
        <td class="text-left"><%= payment.challenge.name rescue '-' %></td>
        <td class="text-center"><%= payment.total_prize_amount %></td>
        <td class="text-left alert-info"><strong><%= payment.user.show_name rescue '-' %></strong></td>
        <td class="text-center alert-danger"><strong><%= payment.winner_prize_amount %></strong></td>
        <td class="text-center"><%= total_balance += (payment.total_prize_amount - payment.winner_prize_amount) %></td>
      </tr>
    <% end %>
    <tr class="background-white">
      <td class="text-right alert-success" colspan="6"><b>Total Balance >></b></td>
      <td class="text-center alert-success"><b><%= total_balance %></b></td>
    </tr>
  </tbody>
</table>
</div>
