<%- model_class = Prediction -%>
<%= image_tag(load_bg_image, { id: 'full-screen-background-image', size: '1366x768' }) %>
<div class="page-header ind-body match-result text-center">
  <h4 class="prediction-results">
    <%=t '.title', default: t('user_payments.details') %>
  </h4>
</div>
<div class = "ind-body data-table">
<table class="table table-striped table-bordered text-center" id="payment_table">
  <thead>
    <tr class="background-white">
      <th class="text-center btn-success no-sort" data-orderable="false"><%= t('user_payments.sl_no') %></th>
      <th class="text-center btn-success"><%= t('user_payments.user') %></th>
      <th class="text-center btn-success"><%= t('user_payments.total_predictions') %></th>
      <th class="text-center btn-success"><%= t('user_payments.total_paid_predictions') %></th>
      <th class="text-center btn-success"><%= t('user_payments.challenge_fee') %></th>
      <th class="text-center btn-success"><%= t('user_payments.amount_paid') %></th>
      <th class="text-center btn-success"><%= t('user_payments.matches_won') %></th>
      <th class="text-center btn-success"><%= t('user_payments.amount_won') %></th>
      <th class="text-center btn-success" title="Amount Paid + Amount Won - Total Challenge Fee">
        <%= t('user_payments.account_balance') %>
      </th>
      <th class="text-center btn-success" title="Amount Won - Amount Paid"><%= t('user_payments.profit_loss') %></th>
    </tr>
  </thead>
  <tbody>
  	<% @users.each_with_index do |user, index| %>
  	  <% index += 1 %>
      <tr class="background-white">
      	<td class="text-center no-sort" data-orderable="false"><%= index %></td>
      	<td class="text-left"><%= user.show_name %></td>
      	<td class="text-center"><%= user.user_challenges.size %></td>
        <td class="text-center"><%= paid_predictions = user.user_challenges.paid.size rescue 0 %></td>
        <td class="text-center">
          <%= challenge_fees = user.user_challenges.paid.map(&:challenge).map(&:fee).sum(&:to_i) rescue 0 %>
        </td>
        <td class="text-center"><%= amount_paid = user.payments.sum(:amount_paid) rescue 0 %></td>
        <td class="text-center"><%= user.challenge_payments.size %></td>
        <td class="text-center">
          <%= prize_won =
            user.challenge_payments.sum(:winner_prize_amount).to_i +
            user.prizes.sum(:amount).to_i rescue 0 %>
        </td>
        <td class="text-center">
          <%= balance = (amount_paid.to_i + prize_won.to_i) - challenge_fees.to_i %>
        </td>
        <% profit = balance.to_i - amount_paid.to_i rescue 0 %>
        <% profit_klass = profit >= 0 ? 'alert-success' : 'alert-danger' %>
        <td class="text-center <%= profit_klass %>" style="font-weight: bold;">
          <%= profit.abs %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
