<%- model_class = Prediction -%>
<div class="page-header ind-body match-result text-center">
  <h4><%=t '.title', default: "#{@challenge.try(:name)} - #{@challenge.end_time.to_s(:default)} - Results" %></h4>
</div>
<div class = "ind-body data-table">
<table class="table table-striped table-bordered text-center" id="point_table">
  <thead>
    <tr>
      <th class="text-center">Sl No</th>
      <th class="text-center">User</th>
      <th class="text-center">Total Points</th>
      <th class="text-center">Points in %</th>
      <% @matches.each do |match| %>
        <th class="text-center">
          <%= match.full_name_with_points %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  	<% @users.each_with_index do |user, index| %>
  	 <% index += 1 %>
      <tr>
      	<td class="text-center"><%= index %></td>
      	<td class="text-center"><%= user.show_name %></td>
      	<td class="text-center"><%= user.total_points_for_challenge(@challenge) %></td>
      	<td class="text-center"><%= user.total_percentage_for_challenge(@challenge) %></td>
        <% @matches.each do |match| %>
          <td class="text-center"><%= user.total_points_for_match(match) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
