<%- model_class = Prediction -%>
<%= image_tag('background/background2.jpeg', { id: 'full-screen-background-image', size: '1366x768' }) %>
<div class="page-header ind-body match-result text-center">
  <h4 class="prediction-results">
    <%=t '.title', default: "#{@challenge.try(:name)} - #{@challenge.end_time.to_s(:default)} - Results" %>
  </h4>
</div>
<div class = "ind-body data-table">
<table class="table table-striped table-bordered text-center" id="point_table">
  <thead>
    <tr class="background-white">
      <th class="text-center btn-success no-sort" data-orderable="false">Sl No</th>
      <th class="text-center btn-success">User</th>
      <th class="text-center btn-success">Total Points</th>
      <th class="text-center btn-success">Points in %</th>
      <% @matches.each do |match| %>
        <th class="text-center btn-success">
          <%= match.full_name_with_points %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  	<% @users.each_with_index do |user, index| %>
  	 <% index += 1 %>
      <tr class="background-white">
      	<td class="text-center no-sort" data-orderable="false"><%= index %></td>
      	<td class="text-left"><%= user.show_name %><%= amount_paid_tag(user, @challenge) %></td>
      	<td class="text-center"><%= user.total_points_for_challenge(@challenge) %></td>
      	<td class="text-center"><%= user.total_percentage_for_challenge(@challenge) %></td>
        <% @matches.each do |match| %>
          <td class="text-center"><%= user.total_points_for_match(match) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
