<%- model_class = Prediction -%>
<%= image_tag(load_bg_image, { id: 'full-screen-background-image', size: '1366x768' }) %>
<div class="page-header ind-body match-result text-center">
  <h4 class="prediction-results">
    <%=t '.title', default: t('points_table.results', name: @challenge.try(:name),
                                                      end_time: @challenge.end_time.to_s(:default)) %>
  </h4>
</div>
<div class = "ind-body data-table">
<table class="table table-striped table-bordered text-center" id="point_table">
  <thead>
    <tr class="background-white">
      <th class="text-center btn-success no-sort" data-orderable="false"><%= t('points_table.sl_no') %></th>
      <th class="text-center btn-success"><%= t('points_table.user') %></th>
      <th class="text-center btn-success"><%= t('points_table.total_points') %></th>
      <th class="text-center btn-success"><%= t('points_table.points_in_perc') %></th>
      <% @matches.each do |match| %>
        <th class="text-center btn-success">
          <%= match.full_name_with_points %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  	<% @users.each_with_index do |user, index| %>
  	 <% index += 1 %>
      <tr class="background-white">
      	<td class="text-center no-sort" data-orderable="false"><%= index %></td>
      	<td class="text-left">
          <%= user.show_name %><%= amount_paid_tag(user, @challenge) %>
          <%= point_booster_tag(user, @matches.first) %>
        </td>
      	<td class="text-center"><%= user.total_points_for_challenge(@challenge) %></td>
      	<td class="text-center"><%= user.total_percentage_for_challenge(@challenge) %></td>
        <% @matches.each do |match| %>
          <td class="text-center"><%= user.total_points_for_match(match) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
