<%= image_tag(load_bg_image, { id: 'full-screen-background-image' }) %>
<div class="page-header ind-body match-result text-center">
  <h4 class="prediction-results">
    <%=t '.title', default: t('predictions_table.prediction', name: @challenge.try(:name),
                                                              end_time: @challenge.end_time.to_s(:default)) %>
  </h4>
</div>
<% @matches.each do |match| %>
  <p><h5 class="prediction-results"><%= match.full_name_with_date %></h5></p>
  <div class="ind-body data-table">
    <table class="table table-striped table-bordered text-center" id="predictions">
      <thead>
        <tr class="background-white">
          <th valign="top" class="text-center btn-success"><%= t('predictions_table.sl_no') %></th>
          <th valign="top" class="text-center btn-success"><%= t('predictions_table.user') %></th>
          <% match.match_questions.order(:id).each_with_index do |match_question, index| %>
            <th class="text-center btn-success">
              <div class='check' title="<%= match_question.question_name_with_points(index) %>">
                <%= match_question.question_name %>
              </div>
            </th>
          <% end %>
          <th class="text-center btn-success">
            <%= t('predictions_table.point_booster') %>
          </th>
        </tr>
      </thead>
      <tbody>
  	    <% @users.each_with_index do |user, index| %>
          <tr class="background-white">
      	    <td class="text-center"><%= index + 1 %></td>
      	    <td class="text-left">
              <%= user.show_name %><%= amount_paid_tag(user, match.try(:challenge)) %>
              <%= point_booster_tag(user, match) %>
            </td>
      	    <% user.predictions_for_match(match).each do |prediction| %>
              <td class="text-center"><%= prediction.try(:exact_answer) %></td>
            <% end %>
            <td class="text-center">
              <%= user.point_booster_enabled_for(match) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br />
<% end %>
