<%- model_class = Prediction -%>
<%= image_tag(load_bg_image, { id: 'full-screen-background-image', size: '1366x768' }) %>
<div class="page-header ind-body match-result text-center">
  <h4 class="prediction-results">
    <%=t '.title', default: t('menu.prize_list') %>
  </h4>
</div>
<div class = "ind-body data-table">
  <h5 class="prediction-results">
    <%=t '.title', default: "NB: Prize Amount may vary considering the Total Amount Recovered" %>
  </h5>
  <table class="table table-striped table-bordered text-center" id="prize_list_table">
    <thead>
      <tr class="background-white">
        <th class="text-center btn-success no-sort" data-orderable="false"><%= t('prize_lists.sl_no') %></th>
        <th class="text-center btn-success"></th>
        <th class="text-center btn-success"><%= t('prize_lists.winner') %></th>
        <th class="text-center btn-success"><%= t('prize_lists.prize') %></th>
      </tr>
    </thead>
    <tbody>
      <% total_amount = @challenge_payments.pluck(:total_prize_amount).sum(&:to_i)-
                        @challenge_payments.pluck(:winner_prize_amount).sum(&:to_i) %>
      <% total_prize_amount = @prize_lists.pluck(:amount).sum(&:to_i) %>
    	<% @prize_lists.each_with_index do |prize, index| %>
    	  <% index += 1 %>
        <tr class="background-white">
        	<td class="text-center no-sort" data-orderable="false"><%= index %></td>
        	<td class="text-left"><%= prize.prize_type rescue '-' %></td>
          <td class="text-left alert-info"><%= prize.user.show_name rescue '-' %></td>
          <td class="text-center alert-danger">Rs.<%= prize.amount rescue '-' %></td>
        </tr>
      <% end %>
      <tr class="background-white">
        <td class="text-right alert-success" colspan="3"><b><%= t('prize_lists.total_prize') %></b></td>
        <td class="text-center alert-success"><b><%= total_prize_amount %></b></td>
      </tr>
      <tr class="background-white">
        <td class="text-right alert-success" colspan="3"><b><%= t('prize_lists.total_amount_recovered') %></b></td>
        <td class="text-center alert-success"><b><%= total_amount %></b></td>
      </tr>
    </tbody>
  </table>
</div>
