<!DOCTYPE html>
<html>
  <head>
    <title><%= t(:app_name) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="shortcut icon" href="/assets/logo/favicon.ico"/>

    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script data-ad-client="ca-pub-2549684217163666" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>
  <body>
    <%= render '/layouts/flash' %>
    <% if user_signed_in? %>
      <nav class="navbar navbar-inverse" role="navigation" style = 'margin-bottom: 1px;'>
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to image_tag('logo/logo.png'), dashboard_index_path, class: 'navbar-brand predikt-logo',
                        data: { turbolinks: false } %>
            <% if @current_tournament %>
              <%= link_to @current_tournament.name, tournament_path(@current_tournament),
                                                    class:'navbar-brand navbar-brand_tournament',
                                                    data: { turbolinks: false }, target: '_self' %>
              <%= link_to t('menu.leaderboard'), leaderboard_tournament_path(@current_tournament),
                                         class: 'navbar-brand', data: { turbolinks: false }, target: '_self' %>
              <%= link_to t('menu.fan_club'), fan_club_tournament_path(@current_tournament),
                                         class: 'navbar-brand', data: { turbolinks: false }, target: '_self' %>
              <%= link_to t('menu.winners_list'), challenge_payments_challenge_path(@current_tournament),
                                         class: 'navbar-brand', data: { turbolinks: false }, target: '_self' %>
              <%= link_to t('menu.prediction_graph'), prediction_graph_tournament_path(@current_tournament),
                                         class: 'navbar-brand', data: { turbolinks: false }, target: '_self' %>
              <%#= link_to t('menu.user_payments'), payment_details_challenge_path(@current_tournament),
                                         class: 'navbar-brand', data: { turbolinks: false }, target: '_self' %>
            <% end %>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
            <ul class="nav navbar-nav">
              <!-- <li><a href="#"></a></li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= current_user.full_name %> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <% if @current_tournament %>
                    <li>
                      <% if current_user&.team_id.blank? %>
                        <%= link_to t('menu.favourite_team'),
                                    select_favourite_team_tournament_path(@current_tournament),
                                    data: { turbolinks: false }, target: '_self' %>
                      <% else %>
                         <%= link_to "#{current_user&.team&.short_name} Fan Club",
                                     fan_club_members_tournament_path(@current_tournament),
                                     data: { turbolinks: false }, target: '_self' %>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to t('menu.leaderboard'), leaderboard_tournament_path(@current_tournament),
                                                 data: { turbolinks: false }, target: '_self' %>
                    </li>
                  <% end %>
                  <li>
                    <%#= link_to t('menu.user_payments'), payment_details_challenge_path(@current_tournament),
                                                   data: { turbolinks: false }, target: '_self' %>
                  </li>
                  <li>
                    <%= link_to t('menu.winners_list'), challenge_payments_challenge_path(@current_tournament),
                                                         data: { turbolinks: false }, target: '_self' %>
                  </li>
                  <li>
                    <%= link_to t('menu.prediction_graph'),
                                    prediction_graph_tournament_path(@current_tournament),
                                    data: { turbolinks: false }, target: '_self' %>
                  </li>
                  <% if current_user.admin %>
                    <li>
                      <%= link_to t('menu.prize_list'), prize_list_challenge_path(@current_tournament),
                                                data: { turbolinks: false }, target: '_self' %>
                    </li>
                  <% end %>
                  <% if current_user.admin %>
                    <li>
                      <%= link_to t('menu.admin'), rails_admin_path, target: '_self' %>
                    </li>
                    <li>
                      <%= link_to t('menu.update_paid_status'), show_user_challenges_challenge_path(@current_tournament),
                                                        data: { turbolinks: false },
                                                        target: '_self' if @current_tournament %>
                    </li>
                    <li>
                      <%= link_to t('menu.new_edit_match_questions'),
                                      show_matches_tournament_path(@current_tournament),
                                                        data: { turbolinks: false },
                                                        target: '_self' if @current_tournament %>
                    </li>
                    <li>
                      <%= link_to t('menu.edit_predictions'),
                                      predict_match_for_user_tournament_path(@current_tournament),
                                                        data: { turbolinks: false },
                                                        target: '_self' if @current_tournament %>
                    </li>
                  <% end %>
                  <%# if @current_tournament.fifa2019? %>
                    <!-- <li> -->
                    <%#= link_to 'Knockout Board', leaderboard_tournament_path(@current_tournament, from: 'ko') %>
                    <!-- </li> -->
                    <%# end %>
                  <li><%= link_to t('menu.change_password'), edit_user_registration_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to t('menu.logout'), destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    <% end -%>
    <div id="content">
      <%= yield %>
    </div>
    <%= render '/layouts/footer' %>
  </body>
</html>
